{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">

    <video autoplay muted loop id="bg-video">
        <source src="{% static 'video/dragao.mp4' %}" type="video/mp4">
    </video>

    <!-- LOGOUT GLOBAL -->
    <div class="logout">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button button-danger">
                Sair
            </button>
        </form>
    </div>

    <h1>Editar Personagem</h1>

    <div class="card">

        {% if form.instance.avatar %}
            <img src="{{ form.instance.avatar.url }}" width="120">
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="button">
                Atualizar
            </button>

        </form>

    </div>

</div>